@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
:root {
  --main-bg-color: #17191c;
  --main-font-color: #ffffff;
  --secondary-text-color: #666666;
  --schedule-text-color: #98a4a8;
  --schedule-info-text-color: #1e1f20;
  --schedule-info-bg-color: #cdd1d2;
  --accent-color: #8f00ff;
  --btn-bg-purple: #8f00ff;
  --btn-hover-bg-purple: #741bba;
  --btn-bg-gray: #8e8e8e;
  --btn-hover-bg-gray: #2b2b2b;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray: #303030;
  --footer-contacts-text: #9a9a9a;
}
* {
  margin: 0;
  padding: 0;
}
#body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: normal;
  color: var(--main-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: top center no-repeat url(images/background-1.png),
    bottom center no-repeat url(images/background-2.png);
  background-color: var(--main-bg-color);
}
a {
  color: inherit;
}
.btn {
  padding: 18px 40px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--btn-bg-purple);
  color: var(--white-color);
}
.btn-primary:hover {
  background-color: var(--btn-hover-bg-purple);
}
.btn-secondary {
  padding: 19px 28px;
  background-color: transparent;
  border-color: var(--btn-bg-purple);
  color: var(--btn-bg-purple);
}
.btn-secondary:hover {
  background-color: var(--btn-bg-purple);
  color: var(--white-color);
}
.btn-white {
  background-color: transparent;
  border-color: var(--white-color);
  color: var(--white-color);
}
.btn-white:hover {
  background-color: var(--white-color);
  border-color: var(--gray);
  color: var(--gray);
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.main-header {
  padding: 25px 0;
  margin-bottom: 108px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__link {
  display: block;
}
.logo__image {
  vertical-align: middle;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__items {
  list-style-type: none;
  display: flex;
  gap: 65px;
}
.menu__item {
  display: inline-block;
}
.menu__link {
  text-decoration: none;
}
.menu__link:hover {
  color: var(--accent-color);
}
.contacts {
  font-style: normal;
  text-align: right;
}
.contacts__link {
  text-decoration: none;
  font-size: 26px;
}
.schedule {
  margin-top: -5px;
  position: relative;
}
.schedule__text {
  font-size: 13px;
  color: var(--schedule-text-color);
  text-decoration: underline;
}
.schedule__text:hover {
  color: var(--main-font-color);
  cursor: pointer;
}
.schedule__text:hover + .schedule__info {
  display: block;
}
.schedule__info:hover {
  display: block;
}
.schedule__info {
  display: none;
  position: absolute;
  bottom: -90px;
  right: 0;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--schedule-info-bg-color);
  color: var(--schedule-info-text-color);
}
.schedule__info::before {
  position: absolute;
  top: -25px;
  right: 35px;
  z-index: -1;
  content: "";
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  border-bottom: 15px solid var(--schedule-info-bg-color);
}
.schedule__lunch,
.schedule__worktime {
  text-align: center;
  font-size: 13px;
}
.schedule__worktime {
  font-weight: bold;
  margin-bottom: 5px;
}
.schedule__lunch {
  font-weight: 600;
}
.main .common {
  margin-bottom: 193px;
}
.main .common__header {
  width: 55%;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.1;
  font-weight: bold;
}
.main .common__text {
  font-size: 21px;
  margin-bottom: 76px;
  margin-left: 4px;
}
.section-header {
  margin-bottom: 51px;
}
.section-header__title,
.section-header__image {
  display: inline-block;
  vertical-align: middle;
}
.section-header__title {
  font-size: 36px;
  font-weight: bold;
}
.section-header__image {
  margin-left: 9px;
  width: 42px;
  height: 42px;
}
.new {
  margin-bottom: 127px;
}
.new__cards {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.announce-card {
  width: 362px;
  height: 449px;
  border-radius: 5px;
  overflow: hidden;
}
.announce-card__image {
  width: 362px;
  height: 144px;
  width: 100%;
}
.announce-card__img {
  width: 362px;
  height: 144px;
  object-fit: fill;
}
.announce-card__content {
  padding: 33px 22px 26px;
  background: var(--white-color);
  color: var(--gray);
}
.announce-card__header {
  margin-bottom: 21px;
  color: var(--black-color);
  font-size: 24px;
  font-weight: bold;
}
.announce-card__options {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.announce-card__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.announce-card__icon {
  width: 24px;
  height: 24px;
}
.announce-card__secondary {
  vertical-align: middle;
  font-size: 16px;
}
.announce-card__description {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.5;
}
.last {
  margin-bottom: 124px;
}
.card__list {
  list-style-type: none;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.past-card {
  position: relative;
  width: 557px;
  height: 394px;
  border-radius: 5px;
  overflow: hidden;
}
.past-card__container {
  box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: end;
}
.past-card__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.past-card__content {
  width: 477px;
}
.past-card__date {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}
.past-card__header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.past-card__description {
  font-size: 16px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pagination__text {
  font-weight: 16px;
}
.pagination__list {
  display: flex;
  list-style-type: none;
  font-size: 0;
  gap: 2px;
}
.pagination__item {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
}
.pagination__item:hover {
  background-color: var(--accent-color);
}
.pagination__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 32px;
}
.about {
  position: relative;
  height: 552px;
  margin-bottom: 53px;
  background-image: url(images/content/about.jpg);
  background-repeat: no-repeat;
  background-size: 489px 505px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.about__block {
  box-sizing: border-box;
  width: 786px;
  padding: 70px 80px;
  background-image: linear-gradient(45deg, #8f00ff, #148cff);
}
.about__header {
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: bold;
}
.about__text {
  width: 502px;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 43px;
}
.main-footer {
  border-top: 1px solid var(--gray);
  padding: 47px 0;
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  align-items: center;
}
.social__items {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.social__item {
  width: 36px;
  height: 36px;
}
.social__link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 36px;
  font-size: 0;
}
.social__link--tg {
  background-image: url(images/icons/social/t.png);
}
.social__link--vk {
  background-image: url(images/icons/social/vk.png);
}
.social__link--fb {
  background-image: url(images/icons/social/f.png);
}
.social__link--ig {
  background-image: url(images/icons/social/in.png);
}
.social__link--tg:hover {
  background-image: url(images/icons/social/t-h.png);
}
.social__link--vk:hover {
  background-image: url(images/icons/social/vk-h.png);
}
.social__link--fb:hover {
  background-image: url(images/icons/social/f-h.png);
}
.social__link--ig:hover {
  background-image: url(images/icons/social/in-h.png);
}
.contacts {
}
.contacts__description {
  font-size: 11px;
  color: var(--footer-contacts-text);
}
.contacts__phone {
}
.contacts__link {
}
