.chips-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 15px;
}

.chips-list input[type='checkbox'] {
  display: none;
}

.chips-list input[type='checkbox']:checked + .chips {
  background-color: var(--chips-bg-hover);
}
