.form__row {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 26px;
}
.form__row:last-child {
  margin: 0;
}
.form__row--right {
  justify-content: flex-end;
}
.form__input {
  flex: 1;
}
.form__text {
  font-size: 18px;
  flex-shrink: 0;
}
