.main-header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 108px;
  padding: 25px 0;
}

.main-header__bottom {
}

.main-header--dark-bg {
  background-color: var(--main-bg-color);
  background-image: url(../../images/background-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
