.main-footer {
  border-top: 1px solid var(--gray);
  padding: 47px 0;
  display: flex;
  justify-content: space-between;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.main-footer--dark-bg {
  border-top: none;
  background-color: var(--main-bg-color);
}
