.menu {
  display: flex;
  align-items: center;
}
.menu__items {
  list-style-type: none;
  display: flex;
  gap: 65px;
}
.menu__item {
  display: inline-block;
}
.menu__item--active {
  color: var(--accent-color);
}
.menu__link {
  text-decoration: none;
  transition: color 0.4s;
}
.menu__link:hover {
  color: var(--accent-color);
}
