.reviews {
  margin-top: 100px;
  color: black;
  padding-bottom: 80px;
}

.reviews__list {
  list-style-type: none;
  /* display: flex;
  flex-wrap: wrap;
  align-items: flex-start; */
  columns: 2;
  gap: 25px;
}
