.schedule {
  margin-top: -5px;
  position: relative;
}
.schedule__text {
  font-size: 13px;
  color: var(--schedule-text-color);
  text-decoration: underline;
}
.schedule__text:hover {
  color: var(--main-font-color);
  cursor: pointer;
}
.schedule__text:hover + .schedule__info {
  display: block;
}
.schedule__info:hover {
  display: block;
}
.schedule__info {
  display: none;
  position: absolute;
  bottom: -90px;
  right: 0;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--schedule-info-bg-color);
  color: var(--schedule-info-text-color);
}
.schedule__info::before {
  position: absolute;
  top: -25px;
  right: 35px;
  z-index: -1;
  content: '';
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  border-bottom: 15px solid var(--schedule-info-bg-color);
}
.schedule__lunch,
.schedule__worktime {
  text-align: center;
  font-size: 13px;
}
.schedule__worktime {
  font-weight: bold;
  margin-bottom: 5px;
}
.schedule__lunch {
  font-weight: 600;
}
