.social {
  display: flex;
  align-items: center;
}
.social__items {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.social__item {
  width: 36px;
  height: 36px;
}
.social__link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 36px;
  font-size: 0;
  background-image: url('../../images/icons/social/socials.sprite.png');
  background-repeat: no-repeat;
}
.social__link--tg {
  background-position: -5px -210px;
}
.social__link--vk {
  background-position: -5px -327px;
}
.social__link--fb {
  background-position: -5px -46px;
}
.social__link--ig {
  background-position: -5px -128px;
}
.social__link--tg:hover {
  background-position: -5px -169px;
}
.social__link--vk:hover {
  background-position: -5px -286px;
}
.social__link--fb:hover {
  background-position: -5px -5px;
}
.social__link--ig:hover {
  background-position: -5px -87px;
  white-space: now;
}
