.welcome {
  background: url('../../images/background-1.png') #000 no-repeat center/cover;
}

.welcome__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__block {
  opacity: 0;
  animation: bounce 0.8s ease-in-out forwards;
  position: relative;
  width: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome__block .logo {
  margin-bottom: 60px;
}
